/* Estilos comunes */
* {
    box-sizing: border-box;
}

body {
    background-color: #BBD979;
    margin: 56px 0 0 0;
    padding: 0;
    font-size: 18px;
    text-align: justify;
}

#contenedor {
    width: 100%;
    max-width: 900px;
    margin: auto;
    padding: 1.5em;
}

a {
    text-decoration: none;
}

.btn-light, .btn-pregunta {
    background-color: #F2778D;
    border-color: #F2778D;
    color: #4d1f23;
}

/* Estilos para el título y su fondo */
.bg-image {
    height: 200px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-image img {
    width: 150%;
}

.mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Capa negra semitransparente */
    color: #fff;
    /* Color del texto */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

/* Estilos para la barra de navegación y el footer */
.bg-dark, .dropdown-item:hover, .btn-dark, .card, .noticiatitulo {
    background-color: #592D2D !important;
    color: #ffffff;
}

.dropdown-menu, .dropdown-center option:hover {
    background-color: #994e4e;
}

.navbar-brand img {
    width: 30px;
}

footer {
    font-size: 0.8em;
    text-align: center;
    width: 100%;
    padding: 20px;
}

/* Estilos para la página de inicio */
/* Tabla de noticias */
.noticiatitulo {
    text-align: center;
    width: 130px;
    padding: 10px;
    border-radius: 10px;
}

.tabla-noticias {
    padding-left: 10px;
}

/* Sección de banners */
#contenedor .container-fluid {
    padding: 0;
    /* Quita el padding para que los banners ocupen el 100% del ancho */
}

.paginainicio .card {
    height: 100px;
    overflow: hidden;
    /* Para evitar desbordes en la parte inferior de la imagen y tenga las esquinas redondeadas */
    display: flex;
    align-items: center;
    justify-content: center;
    /* Para que la imagen de fondo quede centrada */
}

.paginainicio .card .card-img-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* Para que el texto quede centrado horizontal y verticalmente */
}

.paginainicio .card a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    z-index: 1;
    /* Asegura que el texto esté por encima de la capa oscura */
}

.paginainicio .card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Oscurece la imagen */
    z-index: 0;
    /* Capa detrás del texto */
}

/* Estilos para la página de noticias */
/* Ajuste para las tarjetas que son objetivos de enlaces ancla */
.noticias .card {
    scroll-margin-top: 80px; 
}

.noticias h6, form span {
    color: #b38f8f;
}

footer a:link, table a:link, .card a:link{
    color: #F2C6AC;
}
footer a:visited, table a:visited, .card a:visited{ 
    color: #F29580;
}
footer a:hover, table a:hover, .card a:hover{
    color: #F28972;
}
footer a:active, table a:active, .card a:active{
    color: #F2778D;
}

/* Estilos para la página de obras */
.modal-content, .btn-respuesta {
    background-color: #62C3D9
}

.modal-header, .modal-footer {
    border-color: #03738C;
}

.modal-header, .modal-body, .btn-respuesta {
    color: #023f4d;
}

.modal-body a:link{
    color: #025466;
}
.modal-body a:visited{ 
    color: #2e4c66;
}
.modal-body a:hover{
    color: #1F92BF;
}
.modal-body a:active{
    color: #15A0BF;
}

.copyright,
.ficha-tecnica {
    text-align: left;
    word-break: normal;
}

.ficha-tecnica {
    font-size: 0.85em;
}

.ficha-tecnica th,
.ficha-tecnica td {
    background-color: transparent;
}

span {
    font-size: 0.8em;
    color: #3D403A;
}

.copyright {
    line-height: 0.8;
}

.row img {
    width: 100%;
    border-radius: 10px;
}

iframe {
    display: block;
    width: 100%;
    max-width: 600px;
    aspect-ratio: 16 / 9;
    margin: 0 auto;
    border-radius: 10px;
    border: none;
}

.contenedor-carousel {
    display: block;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

/* Estilos para las páginas sobre el estudio y sus creadores */
.derecha img,
.izquierda img {
    display: block;
    margin: 20px auto;
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
}

.listaperfil ul, .listaperfildos ul {
    text-align: left;
}

/* Estilos para la página de juegos */
.selector-nivel .btn {
    width: 200px;
}

/* Estilos para las cartas flipeables */
.area-juego {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    width: 100%;
}

.area-juego .card {
    width: 20vw;
    height: 20vw;
    margin-right: 5px;
    display: inline-block;
    perspective: 1000px;
    cursor: pointer;
    transition: transform 1s;
    transform-style: preserve-3d;
    position: relative; /* Añadir esta línea */
}

.area-juego .card img {
    border-radius: 5px;
    width: 20vw;
}

.area-juego .card.flipped {
    transform: rotateY(180deg);
}

.area-juego .card-front,
.area-juego .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.area-juego .card-back {
    transform: rotateY(180deg);
}

.disabled {
    pointer-events: none;
}

.paginaobras .card-img-top {
    border-radius: 5px 5px 0 0;
    overflow: hidden;
}


/* Estilos para la página de preguntas frecuentes */
.preguntas {
    padding: 0;
}

.preguntas tr {
    display: flex;
    align-items: flex-start;
}

/* Estilos para versión desktop */
@media (min-width: 576px) {
    .bg-image {
        height: 250px;
    }

    .bg-image img {
        width: 100%;
    }

    /* Estilos para la página de obras */
    .modal-body {
        font-size: 0.9em;
    }

    /* Estilos para las páginas sobre el estudio y sus creadores */
    .derecha img {
        float: right;
        margin-left: 30px;
    }

    .izquierda img {
        float: left;
        margin-right: 30px;
    }

    .listaperfil ul {
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2;
        column-gap: 40px;
    }

    /* Estilos para la página de juegos */
    .area-juego {
        margin: 0 auto;
        max-width: 770px;
    }

    .inicial {
        max-width: 440px;
    }

    .intermedio {
        max-width: 550px;
    }

    .area-juego .card, .area-juego .card img {
        width: 100px;
        height: 100px;
    }

    .area-juego .card {
        margin-right: 10px;
    }
}