/* Estilos comunes */
* {
    box-sizing: border-box;
}

body {
    background-color: red;
    margin: 56px 0 0 0;
    padding: 0;
    font-size: 18px;
    text-align: justify;
}

#contenedor {
    background-color: aliceblue;
    width: 100%;
    max-width: 900px;
    margin: auto;
    padding: 1.5em;
}

/* Estilos para el título y su fondo */
.bg-image {
    height: 200px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-image img {
    width: 150%;
}

.mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Capa negra semitransparente */
    color: #fff; /* Color del texto */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

/* Estilos para el footer */
footer {
    color: #FFFFFF;
    font-size: 0.8em;
    background-color: blue;
    text-align: center;
    width: 100%;
    padding: 20px;
}

footer a {
    text-decoration: none;
}

/* Estilos para la página de inicio */
/* Tabla de noticias */
.tabla-noticias {
    padding-left: 10px;
}

/* Sección de banners */
#contenedor .container-fluid {
    padding: 0; /* Quita el padding para que los banners ocupen el 100% del ancho */
}

.paginainicio .card {
    height: 100px;
    overflow: hidden;    /* Para evitar desbordes en la parte inferior de la imagen y tenga las esquinas redondeadas */
    display: flex;
    align-items: center;
    justify-content: center;    /* Para que la imagen de fondo quede centrada */
}

.paginainicio .card .card-img-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;    /* Para que el texto quede centrado horizontal y verticalmente */
}

.paginainicio .card a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    z-index: 1;    /* Asegura que el texto esté por encima de la capa oscura */
}

.paginainicio .card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);    /* Oscurece la imagen */
    z-index: 0;    /* Capa detrás del texto */
}

/* Estilos para la página de noticias */
.crop-text-2 {
    -webkit-line-clamp: 2;
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }

/* Estilos para la página de obras */
.copyright, .ficha-tecnica {
    text-align: left;
    word-break: normal;
}

.ficha-tecnica {
    font-size: 0.85em;
}

.ficha-tecnica th, .ficha-tecnica td {
    background-color: transparent;
}

span {
    font-size: 0.8em;
    color: gray;
}

.row img{
	width: 100%;
    border-radius: 10px;
}

iframe {
    display: block;
    width: 100%;
    max-width: 600px;
    aspect-ratio: 16 / 9;
    margin: 0 auto;
    border-radius: 10px;
    border: none;
}

.contenedor-carousel {
    display: block;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

/* Estilos para las páginas sobre el estudio y sus creadores */

.derecha img, .izquierda img {
    display: block;
    margin: 20px auto;
    width: 100%; 
    max-width: 400px;
    border-radius: 10px;
}

/* Estilos para el timeline */
.timeline {
    border-left: 3px solid #727cf5;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    background: rgba(114, 124, 245, 0.09);
    margin: 0 auto;
    letter-spacing: 0.2px;
    position: relative;
    line-height: 1.4em;
    font-size: 1.03em;
    padding: 50px;
    list-style: none;
    text-align: left;
    max-width: 40%;
}

@media (max-width: 767px) {
    .timeline {
        max-width: 98%;
        padding: 25px;
    }
}

.timeline h1 {
    font-weight: 300;
    font-size: 1.4em;
}

.timeline h2,
.timeline h3 {
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 10px;
}

.timeline .event {
    border-bottom: 1px dashed #e8ebf1;
    padding-bottom: 25px;
    margin-bottom: 25px;
    position: relative;
}

@media (max-width: 767px) {
    .timeline .event {
        padding-top: 30px;
    }
}

.timeline .event:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
}

.timeline .event:before,
.timeline .event:after {
    position: absolute;
    display: block;
    top: 0;
}

.timeline .event:before {
    left: -207px;
    content: attr(data-date);
    text-align: right;
    font-weight: 100;
    font-size: 0.9em;
    min-width: 120px;
}

@media (max-width: 767px) {
    .timeline .event:before {
        left: 0px;
        text-align: left;
    }
}

.timeline .event:after {
    -webkit-box-shadow: 0 0 0 3px #727cf5;
    box-shadow: 0 0 0 3px #727cf5;
    left: -55.8px;
    background: #fff;
    border-radius: 50%;
    height: 9px;
    width: 9px;
    content: "";
    top: 5px;
}

@media (max-width: 767px) {
    .timeline .event:after {
        left: -31.8px;
    }
}

.rtl .timeline {
    border-left: 0;
    text-align: right;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border-right: 3px solid #727cf5;
}

.rtl .timeline .event::before {
    left: 0;
    right: -170px;
}

.rtl .timeline .event::after {
    left: 0;
    right: -55.8px;
}

/* Estilos para la página de juegos */
.selector-nivel .btn {
    width: 200px;
}

/* Estilos para la página de preguntas frecuentes */
.preguntas {
    padding: 0;
}

.preguntas tr {
    display: flex;
    align-items: flex-start;
}

/* Estilos para versión desktop */
@media (min-width: 576px) {
    .bg-image {
        height: 250px;
    }
    .bg-image img {
        width: 100%;
    }

    /* Estilos para la página de obras */
    .modal-body {
        font-size: 0.9em;
    }

    /* Estilos para las páginas sobre el estudio y sus creadores */
    .derecha img {
		float: right;
		margin-left: 30px;
	}

    .izquierda img {
		float: left;
		margin-right: 30px;
	}

    .listaperfil ul {
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2;
      }
}